body{
    padding:auto;
    background:url(../images/Rectangle2.jpg) no-repeat;
    background-size: cover; ;
}
.section1{
    width: 95%;
    height: auto;
    margin: auto;
}
.align-items-start{
    display: flex;
    width: 100%;
    flex-direction: column column;
    justify-content: space-evenly;
}
.section1 .align-items-start .image{
    width: 15%;
    text-align: center
}
.section1 .image img{
    width: 80%;
    margin-bottom: 30px;
}
.section1 .image .competition-number,.section1 .image .competition-date{
    margin-top: 5%;
}
.section1  .image .competition{
    width: 80%;
    padding: 1%;
    margin: auto;
    background-color: #003D1C;
    color:#53FCA1;
    border: 1px solid #53FCA1;
    border-radius: 10px;
    
}
.section1 .image .competition-number{
    font-weight: bold;
    font-size: 20px;
}
.section1 .image .competition-date{
    color: #1AA65B;
    font-weight: bold;
}
.section1  .questions{
    width: 35%;
    text-align: justify;
}
.section1  .reponses{
    text-align: justify;
}
.section1 .questions .title{
    background-color: #003D1C;
    border-radius: 8px;
    padding: 1%;
    height: 20px;
    display: flex;
    flex-direction: column column;
    justify-content: flex-start;
}
.section1 .question-title{
    color:#4BE391;
    font-weight: bold;
}
.section1 .number-of-questions{
    color:#4BE391;
    font-weight: bold;
    font-size: 120%;
}
.section1 .total-of-questions{
    color:#1AA65B;
    font-weight: bold;
    font-size: 120%;
}
.section1 .questions .questions-infos{
    width: 50%;
    text-align: start;
    margin:auto;
    padding: auto;
}
.section1 .questions .questions-buttons{
    width: 50%;
    margin:auto;         
    text-align: end;
    padding: auto;
}
.section1 .questions .questions-buttons button{
    width: 13%;
    background-color: transparent;
    border: none;
}
.section1 .questions .questions-buttons button img{
    width: 100%;
}
.section1 .ennonce{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;  
}
.section1 .questions-image {
   display: flex;
   flex-direction: column column;
   padding: 2%;
   justify-content: center;
}
.section1 .questions-image .element{
    max-width: 70%;
   text-align: center;
}
.section1 .questions-image img{
    width: 80%;
}
.section1 .align-items-start .reponses{
    width: 40%;
}
.section1 .reponses .title-reponses{
    background-color: #003D1C;
    border-radius: 8px;
    padding: 1%;
    height: 20px;
    display: flex;
    flex-direction: column column;
    justify-content: flex-start; 
}
.section1 .reponses .title-reponses .reponses-infos{
    width: 50%;
    color:#4BE391;
    font-weight: bold;
    text-align: start;
}
.section1 .reponses .title-reponses .reponses-buttons{
    width: 50%;
    text-align: end;
}
.section1 .reponses .title-reponses .reponses-buttons button{
    background-color: transparent;
    border: none;
}
.section1 .reponses .title-reponses .reponses-buttons img{
    width: 70%;
}
.section1 .reponses .title-reponses .reponses-specify{
    width:auto;
    display:flex;
    flex-direction: column column;
    justify-content: flex-end;
}
.section1 .reponses .title-reponses .reponses-specify .people-responded{
    color:white;
    font-size: 115%;
    font-weight: bold;
}
.section1 .reponses .title-reponses .reponses-specify .people-total{
    color:#1AA65B;
    font-size: 120%;
    font-weight: bold; 
}
.section1 .reponses .reponses-choice{
    width: 100%;
    display: flex;
    margin:1% 0% 1% 0%;
    flex-direction: column column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.section1 .reponses .reponses-choice  .reponse-logo {
    width: 15%;
    margin: auto;
    text-align: start;
}
.section1 .reponses .reponses-choice .reponse-intitule{
    width: 84%;
    margin: auto;
    font-weight: bold;
    text-align: center;
}
.section1 .reponses .reponse-asset{
   width: 50%;
}
.section1 .reponses .reponse-asset img{
    width: 7%;
}
.section1 .reponses .peoples-pictures {
    width: 50%;
    padding-top: 2%;
}
.section1 .reponses .peoples-pictures img{
    width: 30%;
}
.section2{
    width: 100%;
    margin: auto;
}
.align-items-start2{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column column;
    justify-content: space-between;
}
.section2 .align-items-start2 .colonne-candidat{
    width: 20%;
    margin: 0% 2% 0% 0%;
    text-align: center;
}
.section2 .align-items-start2 .candidat-title{
    color:#4F4F4F;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    padding:2%;
}
.section2 .align-items-start2 .colonne-candidat .element{
    margin-bottom: 3%;
}
.section2 .align-items-start2 .container0{
    width: 100%;
    display:flex;
    flex-direction:column column;
    text-align: center;
}
.section2 .align-items-start2 .container0 .element{
    width: 100%;
}
.section2 .align-items-start2 .container0 .element img{
    width: 65%;
}
.section2 .align-items-start2 .candidat-point .element {
    width: 100%;
    display: flex;
    flex-direction:column column;
    justify-content: space-around;
}
.section2 .align-items-start2 .colonne-equipe{
    background:url(../images/1.jpg), no-repeat;
    background-size:cover;
    background-position:center center;
    width: 80%;
    padding: 0;
    box-shadow: 10px 10px 10px 10px #4F4F4F;
    display:flex;
    flex-direction:column column;
    justify-content: space-around;
}
.section2 .align-items-start2 .colonne-equipe .col-equipe{
    padding: 0;
}
.section2 .align-items-start2 .colonne-equipe .equipe-name{
    background: linear-gradient(180deg, #1AA65B, #4F4F4F);
    color:  #53FCA1;
    font-weight: bold;
    padding: 2%;
    margin: 4%;
    height: auto;
    text-align: center;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content{
    background-color: #FFFF;
    width: 80%;
    margin:auto;
    padding: 2%;
    border-radius: 5%;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1{
    width: 100%;
    display:flex;
    flex-direction:column column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    border-bottom: 1px solid #F2F2F2;
    margin: 2%;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .element{
    
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .people-picture{
    width: 20%;
    margin:auto;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .people-name{
    width: 25%;
    margin:auto;
    font-size: 70%;
    font-weight: bold;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .container-images{
    width: 35%;
    margin:auto;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .people-point{
    width: 15%;
    margin:auto;
    font-size: 80%;
    color:#008C42;
    font-weight: bold;
}
.section2 .align-items-start2 .colonne-equipe .equipe-content .container1 .container-images img{
    width: 20%;
}
.section2 .align-items-start2 .colonne-equipe .row-equipe-total{
    width: 100%;
    margin: 2%;
    display:flex;
    flex-direction:column column;
    flex-wrap: wrap;
    justify-content: center;
}
.section2 .align-items-start2 .colonne-equipe .row-equipe-total .col-title{
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: #4F4F4F;
}
.section2 .align-items-start2 .colonne-equipe .row-equipe-total .col-add{
    width: 19%;
    margin: auto;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    color: #008C42;
}
.section2 .align-items-start2 .colonne-equipe .row-equipe-total .col-result{
    width: 30%;
    margin: auto;
    font-size: 130%;
    text-align: end;
    font-weight: bold;
    color: #008C42;
}
